body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
}

#common-cold {
  display: none;
}

#flu {
  display: none;
}

#healthy {
  display: none;
}

#um {
  display: none;
}

h4 {
  text-decoration: underline;
}

.results {
  margin-top: 100px;
}
